{% if current_user.is_authenticated %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tasks</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
          <a class="dropdown-item" href="{{ url_for('tasks.add_task') }}">Add Task</a>
          <a class="dropdown-item" href="{{ url_for('tasks.my_tasks') }}">My Tasks</a>
        </div>
    </li>
    <li class="nav-item dropdown">
      
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{current_user.name}}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
          {% if current_user.is_admin() %}
          <a class="dropdown-item" href="/admin/">View Dashboard</a>
          <hr>
          {% endif %}
          <a class="dropdown-item" href="{{ url_for('settings.profile') }}">Update Profile</a>
          <a class="dropdown-item" href="{{ url_for('settings.password') }}">Change Password</a>
          <hr>
          <a class="dropdown-item" href="{{ url_for('frontend.logout') }}">Logout</a>
        </div>
    </li>
  </ul>
</div>

{% else %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('frontend.signup') }}">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('frontend.login') }}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('frontend.contact_us') }}">Contact</a>
    </li>
  </ul>
</div>
{% endif %}